name: Deploy WP Plugin (SFTP)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload plugin via SCP (over SFTP/SSH)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: ${{ secrets.SSH_PORT }}
          source: "wordpress-plugin/statchasers-player-pages/*"
          target: "/home/${{ secrets.CPANEL_USER }}/public_html/wp-content/plugins/statchasers-player-pages/"
          strip_components: 2
