name: Deploy WP Plugin (FTPS)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy Plugin Folder via FTPS
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.SFTP_SERVER }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          protocol: ftps
          port: 21
          local-dir: wordpress-plugin/statchasers-player-pages/
          server-dir: public_html/wp-content/plugins/statchasers-player-pages/
          exclude: |
            **/.git*
            **/.github/**
            **/node_modules/**
            **/.env
            **/.DS_Store
